@model IEnumerable<EZRAC.Risk.UI.Web.ViewModels.Reports.VehicleToBeReleasedViewModel>

<div id="ReportResult">
    <div class="col-xs-12">
        @*<div class="report-box">
            <h4>Summary</h4>
            <p><span><strong>Locations</strong></span>&nbsp;<span id="LocationNames"> vaniya, john01</span></p>
        </div>*@
        <a href="@Url.Action("GenerateExportFile", "Report")" class="export-btn pull-right top20"><span class="exporticon">&nbsp;</span><strong>Export</strong></a>
    </div>

    <div class="col-xs-12">
        <div class="grey-border-1 top15">
            <table class="grey-white-table dark-blue-header complete complete-width bordered-table paginated-table">
                <thead>
                    <tr class="white-color">
                        <th>
                            <div class="display-inline">Contract / Claim Number </div>                    </th>
                        <th>
                            <div class="display-inline">Unit Details</div>
                        </th>
                        <th>
                            <div class="display-inline">RA Closed Date</div>
                        </th>
                        <th>
                            <div class="display-inline">Loss Date</div>
                        </th>
                        <th>
                            <div class="display-inline">Claim Open Date</div>
                        </th>
                        <th>
                            <div class="display-inline">Loss Type</div>
                        </th>
                        <th>
                            <div class="display-inline">Status</div>
                        </th>
                        <th>
                            <div class="display-inline">Risk Agent</div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{

                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(String.Format("{0} / {1}-{2}", item.ContractNo, item.CompanyAbbr, item.Claim), "ViewClaim", new { @area = "", @Controller = "claims", id = item.Claim })  <input type="hidden" value="@item.Claim" id="ClaimId" /></td>
                                    <td> @item.UnitDetails </td>
                                    <td> @item.ClosedDate</td>
                                    <td> @item.LossDate </td>
                                    <td> @item.OpenDate</td>
                                    <td> @item.LossType </td>
                                    <td> @item.Status </td>
                                    <td> @item.RiskAgent </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            @*<div class="padding-horizontal-15">
                    <div class=" font-12 row grey-background">
                        <div class="float-left">
                            <ul class="pagination-list bottom0 top5 ">
                                <li class="pagination-list-item ">
                                    <a aria-label="Previous" href="javascript:void(0);">
                                        <div class="arrow-left"></div>
                                    </a>
                                </li>
                                <li class="pagination-list-item active"> <a href="javascript:void(0);">1</a> </li>
                                <li class="pagination-list-item"> <a href="javascript:void(0);">2</a> </li>
                                <li class="pagination-list-item"> <a href="javascript:void(0);">3</a> </li>
                                <li class="pagination-list-item">
                                    <a aria-label="Next" href="javascript:void(0);">
                                        <div class="arrow-right"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="float-left left20 top3">
                            <div class=" bottom10 top10">
                                <span>Showing </span> <span>
                                    <select class="show-record">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </span> <span>Of 100 Records</span>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.extend(true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": true,
            "paging": true,
            "info": false,
            "destroy": true
            //"scrollY": "200px",

        });
        $("#ReportResult table").DataTable({
            columnDefs: [
            {
                "orderable": false,
            }
            ],
            "order": [[0, "asc"]],
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "language": {
                "lengthMenu": "Display _MENU_ records",
                "emptyTable": "Records are not available"
            }
        });
        $(".dataTables_filter").css("display", "none");
        //$(".export-btn").click(function () {           
        //    window.location = 'Report/GenerateExportFile';
        //});
    });
</script>