@model EZRAC.Risk.UI.Web.ViewModels.DocumentGenerator.DocumentTemplateViewModel
@using EZRAC.Risk.UI.Web.Helper
<html>
<head>
    <title>Document Generator, Claim ID @String.Format("{0}-{1}", Model.Company.Abbr, Model.ClaimId)</title>
</head>
<body style="font-family:'Times New Roman'">
    <table border="0" width="100%">
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td width="33%" align="left" valign="top">
                <div>
                    *<br />
                    Risk Management Services<br />
                    @Model.Company.Address<br />
                    @Model.Company.City, @Model.Company.State @Model.Company.Zip
                </div>
            </td>
            <td width="33%" align="center" valign="top">*<br /><img src="@Model.Company.Logopath" width="80" height="50"></td>
            <td width="33%" align="right" valign="top">
                <div>
                    *<br />
                    Email:  @Model.RiskUserEmail<br />
                    Phone:  @Model.Company.Phone<br />
                    Fax:    @Model.Company.Fax
                </div>
            </td>
        </tr>
    </table>

    <table border="0" width="100%">
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>



        <tr>
            <td width="50%" align="left" valign="top">

                <div style="font-weight:bold">
                    *<br />
                    @Model.DriverViewModel.Name<br />
                    @Model.DriverViewModel.Address<br />
                    @Model.DriverViewModel.City, @Model.DriverViewModel.State @Model.DriverViewModel.Zip
                </div>
            </td>

            <td width="50%" align="right" valign="top">
                <div style="font-weight:bold">
                    *<br />
                    @DateTime.Now.ToString(Constants.CrmsDateFormates.MMDDYYYY)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>

        <tr>
            <td colspan="2">
                <div style="font-weight:bold">
                    *<br />Claim #:&nbsp;&nbsp;&nbsp;&nbsp; @String.Format("{0}-{1}, {2}", Model.Company.Abbr, Model.ClaimId, Model.Contract != null ? Model.Contract.ContractNumber : String.Empty)
                    <br /><br />
                </div>
                <div style="font-weight:bold;text-decoration:underline;">
                    *<br /><center>OUTSTANDING ACCOUNT - Final Request</center><br /><br />
                </div>
                Dear&nbsp;@Model.DriverViewModel.Name,<br /><br />
                This letter is regarding your seriously delinquent account with our company. We have attempted to reach you multiple times without success. As detailed in our previous correspondence, the total amount owed is as follows:<br /><br />
                TOTAL DUE:  @Model.TotalDue.ToString("C2")<br /><br />
                Please be advised that unless we receive payment in full on this account within ten business days of the date of this letter, we will immediately turn this account over to our collection company. <br /><br />
                We regret the necessity for this action and urge you to resolve the matter immediately. If payment has already been sent, please contact Risk Management at 407-888-0508. Your immediate attention is appreciated.

            </td>
        </tr>

        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>

        <tr>
            <td colspan="2">
                <div style="font-size:small">
                    *<br />Regards,<br />
                    @Model.RiskUserFullName<br />
                    Risk Management Services<br />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="font-size:small">
                    *<br /><br /><br />If any legal action is taken and results in judgment against you, a Writ of Execution may be issued against your attachable assets. Any legal action taken may result in additional expenses, including service of process and other court costs; thereby increasing your debt and overall financial obligation. In addition, the agreement between you and E-Z Rent-A-Car contains an attorney's fees clause which specifies that the prevailing party to any action concerning this debt will be entitled to reasonable attorney's fees in addition to any other award granted. If the car rental company needs to resort to legal action to collect this debt, a request will be made that you be held liable for all such attorney's fees incurred.<br />
                    AR DL3-RTR
                </div>
            </td>
        </tr>


    </table>




</body>
</html>
