@model EZRAC.Risk.UI.Web.ViewModels.DocumentGenerator.SalvageBidViewModel

<html>
<head>
    <title>Document Generator, Claim ID @Model.HeaderViewModel.Company.Abbr - @Model.HeaderViewModel.ClaimId</title>
</head>
<body style="font-family:'Times New Roman'">
    <table border="0" width="100%">
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td width="33%" align="left" valign="top">
                <div>
                    *<br />Risk Management Services<br />
                    @Model.HeaderViewModel.Company.Address<br />
                    @Model.HeaderViewModel.Company.City, @Model.HeaderViewModel.Company.State @Model.HeaderViewModel.Company.Zip
                </div>
            </td>
            <td width="33%" align="center" valign="top"><img src="@Model.HeaderViewModel.Company.Logopath" width="80" height="50" /></td>
            <td align="right">
                *<br />
                Email:  @Model.HeaderViewModel.RiskUserEmail<br />
                Phone:  @Model.HeaderViewModel.Company.Phone<br />
                Fax:    @Model.HeaderViewModel.Company.Fax

            </td>
        </tr>
    </table>

    <table border="0" width="100%" align="center">
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="left">
                    E-Z Rent-A-Car is accepting bids for the salvage vehicle listed below. A separate email has been sent with all of the vehicle information,
                    pictures, and estimate. Please type or write your bid in the box next to your company name.
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
                    <tr>
            <td align="center">
                <table border="1" align="center">
                    <tr><td colspan="3"></td></tr>
                    <tr>
                        <td style="font-weight:bold" align="left" width="25%">Claim#</td>
                        <td style="font-weight:bold" align="left" width="20%">Unit#</td>
                        <td style="font-weight:bold" align="left" width="20%">Estimate Amount</td>
                    </tr>
                    <tr>
                        <td>
                            <p>@String.Format("{0}-{1}, {2}", Model.HeaderViewModel.Company.Abbr, Model.HeaderViewModel.ClaimId, Model.HeaderViewModel.Contract != null ? Model.HeaderViewModel.Contract.ContractNumber.ToString() : string.Empty)</p>

                        </td>
                        <td>@Model.HeaderViewModel.VehicleViewModel.UnitNumber</td>
                        <td>$&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold" align="left">VIN #</td>
                        <td colspan="2" style="font-weight:bold" align="left">Vehicle Info</td>
                    </tr>
                    <tr>
                        <td align="left">@Model.HeaderViewModel.VehicleViewModel.VIN</td>
                        <td colspan="2">@Model.HeaderViewModel.VehicleViewModel.Year @Model.HeaderViewModel.VehicleViewModel.Color @Model.HeaderViewModel.VehicleViewModel.Make @Model.HeaderViewModel.VehicleViewModel.Model</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td style="text-decoration:underline" align="left">Location of Vehicle</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table border="1" align="center">
                    <tr><td colspan="3"></td></tr>
                    <tr>
                        <td style="font-weight:bold" align="left" width="10%">Emailed</td>
                        <td style="font-weight:bold" align="left" width="25%">Body Shop</td>
                        <td style="font-weight:bold" align="left" width="10%">Amount</td>
                        <td style="font-weight:bold" align="left" width="10%">Emailed</td>
                        <td style="font-weight:bold" align="left" width="25%">Body Shop</td>
                        <td style="font-weight:bold" align="left" width="10%">Amount</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">CFP&B - Orlando, FLAttention: Kelly</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">DAB - Phoenix, AZAttention: Dave</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Auto Sale - Orlando, FLAttention: Tony</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Professional AB - Aurora, COAttention: Mary</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Pure Class AS - Orlando, FLAttention: JR</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">A1-Appr. - Dallas, TXAttention: Denis</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">AP&B - Miami, FLAttention: Richard</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Int. Ser. - NY, NYAttention: Mike</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Preferred Auto - Miami, FLAttention: Darien</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">StarKey Rd Auto Parts - Lago, FLAttn: Ray</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Dee AutoParts - Fruitland Park, FLAttention: Ed</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">Elkins Motors - Lakeland, FLAttn: Ron</td>
                        <td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left">
                *<br /><div style="font-weight:bold">Comments:</div>
                All bids must be emailed or faxed back to the risk department within 48 of receipt of this letter.<br />
                <div style="font-weight:bold">
                    *<br />Email your bid to risk@ezrac.com<br />
                    Fax your bid to 407-438-6922<br />
                    For Questions Please email or call 407-888-0508.
                </div>
            </td>
        </tr>
        </table>

    <table border="0" width="100%">

                    
                    

    </table>



</body>
</html>

